<div>
    <h2 class="titulo">Certificados</h2>

    <div class="certifications-content"> 
        <iframe src="https://drive.google.com/file/d/1WKU4lY5Kc8JoiggnU_YuczGMxw2vPj-J/preview" width="300" height="200" allow="autoplay" ></iframe>
        <iframe src="https://drive.google.com/file/d/1pIb0wMcXA-bhHvsyR30g6MU6zPTvoO55/preview" width="300" height="200"allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1-Xpv7B_WgWKqY4rQeWH4QR-0bI1BZsZf/preview" width="300" height="200" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1oYg5u9HZMYmazq6QcxSI_xJWnL-z2jD3/preview" width="300" height="200" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1K6y3P9ZP9l0lrCzJn291BcqeVxiX2f_D/preview" width="300" height="200" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1GuKg9HLG4_jI9hkImYqYHG6t4IZP3T-D/preview" width="300" height="200" allow="autoplay"></iframe>
    </div>

    <div class="button-certifications">
        <a href="https://drive.google.com/drive/folders/1hmOWnPwPu49mLTLpT9HgCJokXPMx0o1U?usp=sharing" class="button-link">
            <h3 class="mdi mdi-google-drive"></h3>
            <h3>Ver mais certificados</h3>
        </a>
    </div>
</div>