<div class="contact">
    <h2 class="titulo">Contato</h2>
    
    <div class="contact-container">
        <div class="email">
            <div class="contact-header">
                <h3 class="mdi mdi-email mdi-contact"></h3>
                <h3>E-mail</h3>
            </div>
            
            <div class="contact-info">
                <span>cavalcantirayane722@gmail.com</span>
                <span>rayane.silva@vegamonitoramento.com.br</span>
            </div>
        </div>

        <div class="phone">
            <div class="contact-header">
                <h3 class="mdi mdi-phone mdi-contact"></h3>
                <h3>Telefone</h3>
            </div>
            
            <div class="contact-info">
                <span>(081) 99845228</span>
                <span>(081) 987077563</span>
            </div>
        </div>

        <div class="endereco">
            <div class="contact-header">
                <h3 class="mdi mdi-map-marker mdi-contact"></h3>
                <h3>Endereço</h3>
            </div>
            
            <div class="contact-info" style="width: 90%;">
                <span> Recife, PE</span>
            </div>
        </div>
    </div>
</div>