<div>
    <h2 class="titulo">Projetos</h2>

    <div class="project-content"> 
        
        <div class="image-line">
            <div class="image__block">
                <img class="image-project" src="./src/assets/images/broken-machine-game.png" alt="Tela inicial jogo Broken Machine">

                <span class="description">Jogo sobre crítica social.</span>
            </div>

            <div class="image__block">
                <img class="image-project" src="./src/assets/images/eleda-game.png" alt="Tela inicial jogo Eledá">

                <span class="description">Jogo sobre intolerância religiosa.</span>
            </div>
        </div>
        
        <div class="image-line">
            <div class="image__block">
                <img class="image-project" src="./src/assets/images/sicaf-project.png" alt="Tela inicial API SICAF">

                <span class="description">API de Certificação Sustentável.</span>
            </div>
            
            <div class="image__block">
                <img class="image-project" src="./src/assets/images/cozia-project.png" alt="Logo Projeto Cozia">

                <span class="description">IA de receitas.</span>
            </div>
        </div>
        
    </div>
</div>