<div class="home-container ">
    <div class="home-container__img-content">
        <img class="img" src="./src/assets/images/img2.png" alt="foto-portifolio">
        <div class="description-image" style="display: flex;">
            <h2 class="description titulo">Eu sou a Rayane! </h2>
        </div>
    </div>
    
    <div class="home-container__description-content">
        <div class="home-icons" style="display: flex;
                justify-content: center;">
            <ul>
                <li class="footer-icons">
                    <a href="https://github.com/Rayane32">
                        <span class="mdi mdi-github"></span>
                    </a>
                </li>
                <li class="footer-icons">
                    <a href="https://www.linkedin.com/in/rayane-cavalcanti-da-silva-31aa79243/">
                        <span class="mdi mdi-linkedin"></span>
                    </a>
                </li>
                <li class="footer-icons">
                    <a href="https://www.instagram.com/rayanecns?igsh=MXZwZ292Ynd0d25qbQ%3D%3D&utm_source=qr">
                        <span class="mdi mdi-instagram"></span>
                    </a>
                </li>
                <li class="footer-icons class=""">
                    <a href="mailto:cavalcantirayane722@gmail.com">
                        <span class="mdi mdi-google"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <h2 class="description titulo">Olá, seja bem-vindo(a)! </h2>
            <h1>Desenvolvedora de software e apaixonada pela tecnologia</h1>
            <p> 
                " Em busca de desafios e ascensão de carreira, me aventurei pela programação e encontrei uma paixão inesperada por resolver problemas e criar soluções inovadoras. A cada nova linguagem aprendida, meu desejo de continuar crescendo nessa área só aumento e estou determinada a me aprofundar cada vez mais no mundo da tecnologia. " </p>
        </div>
        
    </div>
</div>