@import url('/node_modules/@mdi/font/css/materialdesignicons.min.css');

* {
    margin: 0px;
    font-family: var(--ff-poppins); 
}

:root{
        /**
         * colors
         */
        --purple: #cb6ce6;
        --white: #fff;
        --title: #cb6ce6;
      
        /**
         * typography
         */

        --ff-poppins: 'Poppins', sans-serif;

        /**
         * transition
         */
      
        --transition-1: 0.25s ease-in-out;
       
        /* --bg-primary: hsl(0, 0%, 90%); */
        --bg-secondary: hsl(0, 0%, 100%);
        --color-primary: hsl(0, 0%, 12%);
        --color-secondary: hsl(0, 0%, 37%);
        --card-shadow: hsla(0, 0%, 0%, 0.1);
        
        --shadow-1: 10px 10px 40px var(--card-shadow);     
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(270deg, #050828, #010427);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: var(--bg-primary);
}

a {
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    color: var(--color-primary);
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--ff-poppins) !important;
}

span, h1, h3, p {
    color: var(--white);
}

span {
    font-size: 16px;
}

/*-----------------------------------*\
 * #GLOBAL ICONS CLASS
\*-----------------------------------*/

.mdi {
    margin-right: 5px;
}

.mdi-contact {
    background: var(--purple);
    padding: 5px 7px;
    border-radius: 100px;
    box-sizing: border-box;
    margin-right: 10px !important;
}

/*-----------------------------------*\
 * #GLOBAL TEXT CLASS
\*-----------------------------------*/

.texto-decorativo {
    color: var(--purple);
}

.titulo {
    color: var(--title);
    margin-bottom: 30px;
}

/*-----------------------------------*\
 * #PÃGINA INICIAL
\*-----------------------------------*/

#main-page {
    background-color: var(--white);

    section {
        padding-bottom: 100px;
    }
    .nav-content {
        min-height: 80px;
        background-color: #212038d8 !important;
            transition: all 0.3s ease-out 0s !important;
            box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
            backdrop-filter: blur(15px) !important;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    
        a {
            text-decoration: none;
            background-color: transparent;
        }
    
        .nav-link {
            padding: 5px 20px;
            border-radius: 40px;

            -webkit-transition: ease all .35s;
            transition: ease all .35s;

            &:hover {
                span  {
                    color: var(--purple) !important;
                    -webkit-transition: ease all .35s;
                }
                
            }
            
        }
    }
}


/*-----------------------------------*\
 * #HOME
\*-----------------------------------*/

#home-section {
    & .home-container {
        & .home-container__description-content {
            & .home-icons {
                span {
                    font-size: 70px;
                }

                &:hover {
                    font-size: 12px;
                }
            }
        }
    }
}

#home-section {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
    z-index: 1;

    min-height: 100vh;
    margin-top: 80px;

    .home-container {
        width: 80%;
        display: flex;
        align-items: center;
        gap: 30px;

        .home-container__img-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 50%;
            align-items: center;

            .description-image {
                display: flex;
                margin-top: 30px;
                justify-content: center;
            }

            .img {
                width: 400px;
                height: 400px;
                border-radius: 100%;
                margin-left: 30px;
            }

            .description {
                font-size: 3rem;
            }
        }

        .home-container__description-content {
            .home-icons {
                display: flex;
                justify-content: center;

                ul {
                    display: flex;
                    padding: 0;
                    gap: 30px;
                    margin-bottom: 20px;
                    list-style-type: none;
                    justify-content: space-between;
                    
                    .mdi {
                        margin: 0px !important;
                       
                    }
                }

                .footer-icons {
                    display: inline-block !important;
    
                    span {
                        font-size: 70px;
                    }
    
                    &:hover {
                        span  {
                            color: var(--purple) !important;
                            -webkit-transition: ease all .35s;
                        }
                        
                    }
                } 
            }

            h1 {
                text-align: center;
            }

            p {
                margin-top: 30px;
                text-align: justify;
            }
        }
    }
}

/*-----------------------------------*\
 * #RESUME-EXPERIENCE
\*-----------------------------------*/

#resume-experience {
    .experience-list {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }
    
    .experience-card {
      background: var(--bg-secondary);
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 25px;
      border-radius: 12px;
      box-shadow: var(--shadow-1);
      transition: var(--transition-1);
    }
    
    .experience-card:is(:hover, :focus) { transform: translateY(-5px); }
    
    .card-icon {
        background: var(--purple);
        width: 60px;
        height: 60px;
        display: grid;
        place-items: center;
        border-radius: 50%;
      }

    .experience-card .card-icon img {
      width: 70%;
      filter: invert(1);
    }
    
    .experience-card .card-title {
      width: calc(100% - 95px);
      color: var(--purple);
      text-align: center;
    }
    
    .experience-card .card-title strong {
      display: block;
      color: var(--color-primary);
      font-size: initial;
      line-height: 1.3;
      margin-top: 5px;
    }
    
    .experience-card > ion-icon { color: var(--color-secondary); }

    li {
        list-style: none;
    }
}

/*-----------------------------------*\
 * #ABOUT
\*-----------------------------------*/

#about-section {
    .width {
        width: 50%;
    }

    .about__container {
        display: flex;
        gap: 10px;

        .content {
            font-size: 1.2em !important;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }


    .skills-box {
        box-sizing: border-box;

        .skill-card {
            position: relative;
            background: var(--bg-secondary);
            width: 95px;
            height: 95px;
            display: grid;
            place-items: center;
            border-radius: 12px;
            box-shadow: var(--shadow-1);

            &:hover .tooltip {
                transform: translateY(0);
                opacity: 1;
            }

            .tooltip {
                position: absolute;
                top: -40px;
                background: var(--purple);
                min-width: max-content;
                color: var(--white);
                font-size: 15px;
                font-weight: 700;
                padding: 5px 10px;
                border-radius: 4px;
                box-shadow: var(--shadow-1);
                transform: translateY(-10px);
                opacity: 0;
                pointer-events: none;
                transition: var(--transition-1);
                z-index: 1;
            }
        }
    }

    ul {
        padding: 20px;
    }

    .skills-box .skills-list,
    .skills-box.active .tools-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        animation: fadeIn 0.5s ease-out forwards;

        li {
            list-style: none;
        }
    }
}

/*-----------------------------------*\
 * #PROJECTS
\*-----------------------------------*/

#project-section {
    .image-line {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;

        .image__block {
            display: flex;
            flex-direction: column;
            align-items: center;

            .image-project {
                height: 200px;
                width: 350px;
                border-radius: 18px;
                margin: 0px 15px 15px 15px;
                
            }

            img.image-project:hover {
                box-shadow: 0px 0px 52px 5px #cb6ce6;
                -webkit-transition: ease all .35s;
            }
        }
    }
}


/*-----------------------------------*\
 * #CERTIFICATION
\*-----------------------------------*/

#certification-section {
    .certifications-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        iframe {
            border-radius: 18px;
            margin: 0px 20px 25px;
        }
    }

    .button-certifications {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .button-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            height: 500;
            height: 48px;
            background-color: var(--purple);
            width: 265px;
            border-radius: 45px;
        }

        &:hover {
            .button-link {
                background-color: #a356b8; 
                -webkit-transition: ease all .35s;
            }
        }
    }
}


/*-----------------------------------*\
 * #CONTACT
\*-----------------------------------*/

#contact-section {
    .contact-container {
        display: flex;
        justify-content: space-between;

        .contact-header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            line-height: 1.6;
        }
    }
}


/*-----------------------------------*\
 * #footer
\*-----------------------------------*/

#footer-section {
    .footer-container {
        display: flex;
        padding: 20px 0px;
        justify-content: space-around;
        background: black;
        align-items: center;

        .footer-rigth{
            display: flex;

            .footer-icons {
                display: inline-block !important;
                padding-left: 15px;
                padding-right: 15px;

                span {
                    font-size: 24px;
                }

                &:hover {
                    span  {
                        color: var(--purple) !important;
                        -webkit-transition: ease all .35s;
                    }
                    
                }
            } 
        }
    }
}