<div class="footer-container">
    <div class="footer-left">
        <span>Projetado e desenvolvido por Rayane Cavalcanti</span>
    </div>
    <div class="footer-center">
        <span>
            Direitos autorais © 2024 Rayane Cavalcanti
        </span>
    </div>

    <div class="footer-rigth">
        <ul>
            <li class="footer-icons">
                <a href="https://github.com/Rayane32">
                    <span class="mdi mdi-github"></span>
                </a>
            </li>
            <li class="footer-icons">
                <a href="https://www.linkedin.com/in/rayane-cavalcanti-da-silva-31aa79243/">
                    <span class="mdi mdi-linkedin"></span>
                </a>
            </li>
            <li class="footer-icons">
                <a href="https://www.instagram.com/rayanecns?igsh=MXZwZ292Ynd0d25qbQ%3D%3D&utm_source=qr">
                    <span class="mdi mdi-instagram"></span>
                </a>
            </li>
            <li class="footer-icons class=""">
                <a href="mailto:cavalcantirayane722@gmail.com">
                    <span class="mdi mdi-google"></span>
                </a>
            </li>
        </ul>
    </div>
</div>